/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General styles */
html, body {
  height: 100%;
  margin-top: 150px;
}

.anchor {
  scroll-margin-top: 150px;
}

html {
  font-size: 24px;
}

body {
  font-family: 'Libre Baskerville', serif !important;
}

@media (max-width: 767px) {
  body {
    font-size: 12px;
  }
}

#banner {
  background-color: red; 
  color: #fff; /* white text */
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
}

.centered-logo {
  display: flex;
  justify-content: center;
}

.centered-logo img {
  width: 810/2px;
  height: 150px;
  max-height: 230px;
  padding: 20px;
}

.img-border {
  border-top-left-radius: 1.8rem;
  border-top-right-radius: 1.8rem;
  width: 500px auto;
  height: 300px;
  object-fit: cover;
}
.container {
  padding-top: 15px;
  flex-wrap: wrap;
}

/* Logo and navbar */
.logo {
  width: 800/2px;
  height: 50px;
}

.dropdown-menu.dropdown-menu-light.mb-4 {
  border: none;
}

.dropdown-toggle:focus,
.dropdown-toggle:active,
.dropdown-toggle:hover,
.dropdown-menu.show .dropdown-item:hover {
  background-color: transparent !important;
  color: red;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 4px;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
}

.nav-item {
  justify-content: center;
}

.social-icons {
  display: flex;
  align-items: center;
  padding-top: 20px; 
}

.social-icons a:hover {
  color: red;
}

.navbar-nav .nav-link:hover,
#footer .nav-link:hover {
  color: red !important;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 4px;
  font-weight: bold;
}

@media (max-width: 1199.98px) {
  /* Mobile view until XL breakpoint */
  .navbar-nav {
    max-height: 500px;
    overflow-y: scroll;
    scrollbar-width: none;
  }
  
  .navbar-nav::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 767px) {
  .nav-link {
    padding-left: 10px;
    padding-right: 10px;
  }
}

#navbar .nav-link {
  transition: transform 0.3s ease;
}

#navbar .nav-link:hover {
  animation: bounceUp 0.5s;
  animation-fill-mode: forwards;
}

@keyframes bounceUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* Footer */
#footer {
  width: 100%;
  background-color: #222;
  color: #fff;
  justify-content: center;
  padding-top: 20px;
  margin-top: auto;
  z-index: 1;
}

#footer .nav-link {
  padding: 5px 5px;
}

/* Cards */
.card-hours,
.history-card,
.food-card, 
.review-card,
.fqa-card {
  border-radius: 2rem !important;
  border: 4px solid red !important;
}

#reviews .card {
  min-height: 300px;
}

.food-card {
  height: 400px; /* Adjust the height value as needed */
}

.review-card-text {
  text-align: center;
  padding: 20px;
  padding-left: 140px;
  padding-right: 140px;
}

.history-card {
  max-height: 400px;
  overflow-y: scroll;
  scrollbar-width: none;
  padding-left: 140px;
  padding-right: 140px;
}

.history-card::-webkit-scrollbar {
  display: none;
}

@media (max-width: 767px) {
  .history-card {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .review-card-text {
    padding: 30px;
  }
}

.fqa-card {
  min-height: 800px;
}

@media (max-width: 1000px) {
  .fqa-card {
    min-height: 600px; /* Set a different minimum height for small screens */
  }
}

/* Images */
.center-image {
  align-items: center;
}

.responsive {
  display: block;
  object-fit: cover;
  position: relative;
  max-width: 100%;
  max-height: 600px;
  width: 100%;
  height: 600px;
  border: 4px solid red;
  border-radius: 2rem;
}

input, textarea, select {
  outline: 2px solid red;
}

.link {
  font-weight: bold;
  color: red;
}

#job-info ul li {
  margin: 20px;
}

.accordion-button {
  color: black !important;
  font-weight: bold;
}

.accordion-button:not(.collapsed) {
  background-color: white !important;
}

.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-button:link, .accordion-button:visited, .accordion-button:hover, .accordion-button:active  {
  background-color: transparent !important;
  color: black !important;
  text-decoration: none !important;
  border: none;
  border-color: transparent !important;
  box-shadow: 0px !important;

}

.accordion-button {
  border: none;
}

.accordion-button:focus {
  z-index: 3;
  border-color: transparent !important;

  box-shadow: 0 0 0 .25rem transparent !important;
  background-color: transparent;
}

.accordion-body {
  border-bottom: none !important;
}

.price {
  color: red !important;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 4px;
}

.carousel .carousel-indicators button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  margin: 0 4px;
  padding: 0;
}

.price-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  margin-right: 10px;
}

