/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General styles */
html, body {
  height: 100%;
  margin-top: 150px;
}

.anchor {
  scroll-margin-top: 150px;
}

html {
  font-size: 30px;
}

#banner {
  background-color: red; 
  color: #fff; /* white text */
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
}

.centered-logo {
  display: flex;
  justify-content: center;
}

.centered-logo img {
  width: 810/2px;
  height: 150px;
  max-height: 230px;
  padding: 20px;
}

.img-border {
  border-top-left-radius: 1.8rem;
  border-top-right-radius: 1.8rem;
  width: 500px auto;
  height: 300px;
  object-fit: cover;
}
.container {
  padding-top: 15px;
  flex-wrap: wrap;
}

/* Logo and navbar */
.logo {
  width: 800/2px;
  height: 50px;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
}

.nav-item {
  justify-content: center;
}

.social-icons {
  display: flex;
  align-items: center;
  padding-top: 20px; 
}

.social-icons a:hover {
  color: red;
}

.navbar-nav .nav-link:hover,
#footer .nav-link:hover {
  color: red !important;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 4px;
  font-weight: bold;
}

@media (max-width: 1199.98px) {
  /* Mobile view until XXL breakpoint */
  .navbar-nav {
    max-height: 500px;
    overflow-y: scroll;
    scrollbar-width: none;
  }
  
  .navbar-nav::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 767px) {
  .nav-link {
    padding-left: 10px;
    padding-right: 10px;
  }
}

#navbar .nav-link {
  transition: transform 0.3s ease;
}

#navbar .nav-link:hover {
  animation: bounceUp 0.5s;
  animation-fill-mode: forwards;
}

@keyframes bounceUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* Footer */
#footer {
  width: 100%;
  background-color: #222;
  color: #fff;
  justify-content: center;
  padding-top: 20px;
  margin-top: auto;
  z-index: 1;
}

#footer .nav-link {
  padding: 5px 5px;
}

/* Cards */
.card-hours,
.history-card,
.food-card, 
.review-card,
.fqa-card {
  border-radius: 2rem !important;
  border: 4px solid red !important;
}

#reviews .card {
  min-height: 300px;
}

.review-card-text {
  text-align: center;
  padding: 20px;
  padding-left: 140px;
  padding-right: 140px;
}

.history-card {
  max-height: 400px;
  overflow-y: scroll;
  scrollbar-width: none;
  padding-left: 140px;
  padding-right: 140px;
}

.history-card::-webkit-scrollbar {
  display: none;
}

.fqa-card {
  min-height: 800px;
}

@media (max-width: 1000px) {
  .fqa-card {
    min-height: 600px; /* Set a different minimum height for small screens */
  }
}

/* Images */
.center-image {
  align-items: center;
}

.responsive {
  display: block;
  object-fit: cover;
  position: relative;
  background-position: center;
  max-width: 100%;
  max-height: 600px;
  width: 100%;
  height: 600px;
  border: 4px solid red;
  border-radius: 2rem;
}

input, textarea, select {
  outline: 2px solid red;
}

.link {
  font-weight: bold;
  color: red;
}
